<h1>スケジュール一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日</th>
      <th>詳細</th>
      <th>更新</th>
      <th>削除</th>
    </tr>
  </thead>
  
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.start_at %></td>
      <td><%= post.end_at %></td>
      <td><%= post.is_all_day %></td>
      <td><%= post.updated_at %></td>
      <td><%= link_to "詳細", post_path %></td>
      <td><%= link_to "更新", edit_post_path %></td>
      <td><%= link_to "削除", post_path, method: :delete, data: {confirm: "本当に削除しますか"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "新規スケジュール", new_post_path %></p>

<p>bootstrapテスト</p>

<a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input">
<input class="btn btn-primary" type="submit" value="Submit">
<input class="btn btn-primary" type="reset" value="Reset">